node_modules/
data/settings.local.json
/.secrets.json
/.env.json

# Firebase admin local exports
/firebase/exports/*
!/firebase/exports/.gitkeep

# Ignore all generated collections except scripts
/_collections/*
!/_collections/scripts/
!/_collections/scripts/**

# Build/export outputs
dist/
